<%= image_tag(@github_user.image_url, size: "100", class: "profile-pic") %>
Stars <%= @github_user.starred_repos.count %>
Followers <%= @github_user.followers.count %>
Following <%= @github_user.following.count %><br><br>

<% if !@github_user.organizations.empty? %>
  Organizations <% @github_user.organizations.each do |organization| %>
    <%= organization.login %>
  <% end %>
<% end %><br><br>

<% if !@github_user.repos.empty? %>
  Repositories  <% @github_user.repos.each do |repo| %>
    <%= repo.name %>
  <% end %>
<% end %><br><br>

Contribution Activity Created <%= @github_user.recent_commits.count %> commits in <%= @github_user.recent_repos.count %> repositories
  <br><br>

Recent Commits for Users Whom I Follow
  <br>
<% @github_user.following.each do |following| %>
  <ul><% following.recent_commits.each do |commit| %>
    <li><%=  commit.message %></li> made at <%=  commit.date.strftime('%c') %></li>
  </ul>
  <% end %>
<% end %>
